<mat-card class="auth-card" (keydown.enter)="onClickEmailButton()" >
	<div class="first-block mail" [formGroup]="emailPassGroup" >
		<div class="mail-form-container">
			<mat-form-field appearance="outline">
				<mat-label >Email</mat-label>
				<input matInput formControlName="emailControl"  placeholder="Email">
				<mat-hint>Активный адрес почты</mat-hint>
				<mat-error *ngIf="emailPassGroup.get('emailControl').hasError('email') && !emailPassGroup.get('emailControl').hasError('required')">Введите корректный адрес почты
				</mat-error>
				<mat-error *ngIf="emailPassGroup.get('emailControl').hasError('required')">Обязательный</mat-error>
			</mat-form-field>
			<mat-form-field class="mat-form-pass-block" appearance="outline">
					<mat-label>Пароль</mat-label>
					<input #passInput type="text" matInput formControlName="passControl" placeholder="Пароль">
					<mat-hint>Придумайте свой пароль</mat-hint>
					<button mat-button  matSuffix mat-icon-button aria-label="Пароль" (click)="passInput.type = passInput.type == 'text' ? 'password' : 'text' ">
						<mat-icon>{{passInput.type == 'text' ? 'visibility_off' : 'visibility'}}</mat-icon>
					</button >
					<button mat-button  matSuffix mat-icon-button aria-label="Напомнить" [matTooltip]="'Напомнить'" [disabled]="emailPassGroup.get('emailControl').hasError('email') || emailPassGroup.get('emailControl').hasError('required')" (click)="onClickRemainderPass()" >
						<mat-icon >notification_important</mat-icon>
					</button >
				<mat-error *ngIf="emailPassGroup.get('passControl').hasError('minlength') && !emailPassGroup.get('passControl').hasError('required')">Не менее 8 символов
				</mat-error>
				<mat-error *ngIf="emailPassGroup.get('passControl').hasError('required')">Обязательный</mat-error>
			</mat-form-field>
			<mat-error class="email-code-error" *ngIf="emailPassError">{{emailPassError}}</mat-error>
			<div class="button-group">
				<button class="email-ready" type="submit" mat-raised-button color="primary" [disabled]="emailPassGroup.invalid || activeStage" [style.cursor]="cursor" (click)="onClickEmailButton()">{{emailButtonText}}</button>
				<button class="email-cancel" mat-raised-button (click)="onCancelButton()">Назад</button>
			</div>
		</div>
	</div>

</mat-card>
