<mat-card class="phone-container" (keydown.enter)="onClickPhoneButton()">
	<div class="phone-block" [ngClass]="{active : phoneBlockClass}" [formGroup]="phoneGroup" >
		<div class="phone-form-container">
			<mat-form-field class="phone-field" appearance="outline">
				<mat-label>Код страны</mat-label>
				<mat-select formControlName="codeControl" [(value)]="selected" >
					<mat-select-trigger class="phone-code-trigger">
						<img class="state-img"  [src]="selected.src">
						<span class="location">{{selected.class.toUpperCase()}}</span>
						<span class="state-code">{{selected.code}}</span>
					</mat-select-trigger>
					<mat-option *ngFor="let state of states" [value]="state">
						<img class="state-img" [src]="state.src">
						<span class="location">{{state.class.toUpperCase()}}</span>
						<span class="state-code">{{state.code}}</span>
					</mat-option>
				</mat-select>
				<mat-error *ngIf="phoneGroup.get('codeControl').hasError('required')">Обязательный</mat-error>
			</mat-form-field>
			<mat-form-field appearance="outline">
				<mat-label>Номер телефона</mat-label>
				<input matInput formControlName="phoneControl" maxlength="10" placeholder="Номер">
				<mat-hint>Активный номер телефона</mat-hint>
				<mat-error *ngIf="phoneGroup.get('phoneControl').hasError('pattern') && !phoneGroup.get('phoneControl').hasError('required')"> 10 чисел</mat-error>
				<mat-error *ngIf="phoneGroup.get('phoneControl').hasError('required')">Обязательный</mat-error>
			</mat-form-field>
			<mat-error class="phone-code-error" *ngIf="phoneCodeError">{{phoneCodeError}}</mat-error>
			<div class="button-group" >
				<button id="phone-ready" class="phone-ready" (click)="onClickPhoneButton()" type="submit" mat-raised-button color="primary" [disabled]="phoneGroup.invalid || activeStage" [style.cursor]="cursor" >{{phoneButtonText}}</button>
				<button class="phone-cancel" mat-raised-button (click)="onCancelButton()">Назад</button>
			</div>
		</div>
	</div>
</mat-card>
